* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background: #1B2473;
}

input:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input::placeholder {
    color: #CCCCCC;
}

.main-container {
    margin:10vw auto;
    text-align:center;
    width:calc(600 / 1440 * 100vw);
    height:calc(550 / 1440 * 100vw);
    background: #FFFFFF;
    border-radius:calc(20 / 1440 * 100vw);
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

.main-container__title {
    margin:0 auto;
    padding-top:calc(26 / 1440 * 100vw);
    font-size:calc(50 / 1440 * 100vw);
    line-height:calc(50 / 1440 * 100vw);
    color:#787878;
}

.main-container__label {
    display:block;
    font-weight: 700;
    text-align:start;
    font-size:calc(16 / 1440 * 100vw);
    line-height:calc(16 / 1440 * 100vw);
    margin-top:calc(15 / 1440 * 100vw);
    margin-left:calc(53 / 1440 * 100vw);
    margin-bottom:calc(2 / 1440 * 100vw);
    color: #787878
}

.main-container__input {
    display:block;
    width: calc(510 / 1440 * 100vw);
    height: calc(49 / 1440 * 100vw);
    background: #FFFFFF;
    border:calc(2 / 1440 * 100vw) solid #787878;
    border-radius:calc(10 / 1440 * 100vw);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: calc(28 / 1440 * 100vw);
    color: #787878; 
    margin:0px auto calc(24 / 1440 * 100vw);
}

.main-container__button {
    display:inline-block;
    width:calc(200 / 1440 * 100vw);
    height:calc(52 / 1440 * 100vw);
    font-size:calc(24 / 1440 * 100vw);
    font-weight: 700;
    line-height:calc(16 / 1440 * 100vw);
    text-align:center;
    color: #ffffff;
    background: #1A226B;
    border-radius:calc(10 / 1440 * 100vw);
}

.main-container__result {
    display:inline-block;
    width:calc(510 / 1440 * 100vw);
    height:calc(49 / 1440 * 100vw);
    font-size:calc(22 / 1440 * 100vw);
    border:calc(2 / 1440 * 100vw) solid #787878;
    font-weight: 700;
    line-height:calc(20 / 1440 * 100vw);
    text-align:center;
    color: #787878;
    border-radius:calc(10 / 1440 * 100vw);
    margin-top:calc(20 / 1440 * 100vw);
    padding-top:calc(12 / 1440 * 100vw);
} 

@media screen and (max-width: 768px) {
    .main-container {
        margin:10vw auto;
        text-align:center;
        width:calc(600 / 768 * 100vw);
        height:calc(550 / 768 * 100vw);
        background: #FFFFFF;
        border-radius:calc(20 / 768 * 100vw);
        box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    }
    
    .main-container__title {
        margin:0 auto;
        padding-top:calc(26 / 768 * 100vw);
        font-size:calc(50 / 768 * 100vw);
        line-height:calc(50 / 768 * 100vw);
        color:#787878;
    }
    
    .main-container__label {
        display:block;
        font-weight: 700;
        text-align:start;
        font-size:calc(16 / 768 * 100vw);
        line-height:calc(16 / 768 * 100vw);
        margin-top:calc(15 / 768 * 100vw);
        margin-left:calc(53 / 768 * 100vw);
        margin-bottom:calc(2 / 768 * 100vw);
        color: #787878
    }
    
    .main-container__input {
        display:block;
        width: calc(510 / 768 * 100vw);
        height: calc(49 / 768 * 100vw);
        background: #FFFFFF;
        border:calc(2 / 768 * 100vw) solid #787878;
        border-radius:calc(10 / 768 * 100vw);
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: calc(28 / 768 * 100vw);
        color: #787878; 
        margin:0px auto calc(24 / 768 * 100vw);
    }
    
    .main-container__button {
        display:inline-block;
        width:calc(200 / 768 * 100vw);
        height:calc(52 / 768 * 100vw);
        font-size:calc(24 / 768 * 100vw);
        font-weight: 700;
        line-height:calc(16 / 768 * 100vw);
        text-align:center;
        color: #ffffff;
        background: #1A226B;
        border-radius:calc(10 / 768 * 100vw);
    }
    
    .main-container__result {
        display:inline-block;
        width:calc(510 / 768 * 100vw);
        height:calc(49 / 768 * 100vw);
        font-size:calc(22 / 768 * 100vw);
        border:calc(2 / 768 * 100vw) solid #787878;
        font-weight: 700;
        line-height:calc(20 / 768 * 100vw);
        text-align:center;
        color: #787878;
        border-radius:calc(10 / 768 * 100vw);
        margin-top:calc(20 / 768 * 100vw);
        padding-top:calc(12 / 768 * 100vw);
    } 

}
